/* Background topo*/
.bg-nav{
	background-color: #02054d;
}

/* Efeito de posicionamento de mouse sobre os links */
.nav-link:hover{
	background-color: #9296d9;
	transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
}


.bg-wallpaper{
	background: url(../img/wallpaper.jpg) fixed;
	position: relative;
	opacity: 0.5;
}


/* Seção Quem sou eu - Background*/
.bg-quemsou{
	background: linear-gradient(to right, #D8D8D8, #2E2E2E);
}

/* Para centralizar o carousel*/
.carousel-inner img {
  margin: auto;
}

.carousel-control-prev{
	left: 10%;
}

.carousel-control-next{
	right: 10%;
}

/* Background seção Objetivo*/
.bg-objetivo {
	background-color: #00ffee;
}

#objetivo p{
	font-size: 20px;
}

.bg-rodape{
	background-color: #02054d;
}

/*footer i{
	color: #fff;
}*/

footer ul {
     list-style-type:none
 }

 footer a:hover{
 	text-decoration: none;
 }